//
// CSSTAINABLE SETTINGS
//
$csstainable-max-site-width:   960px
$gutter:                       10px

// CSSTAINABLE UTILITIES
=csstainable-clear
  clear: both
  &:after
    content: " "
    display: block
    height: 0
    font-size: 0
    clear: both
    visibility: hidden

// CSSTAINABLE PADDING
=pad-top
  padding-top: $gutter
=pad-right
  padding-right: $gutter
=pad-bottom
  padding-bottom: $gutter
=pad-left
  padding-left: $gutter
=pad-top-double
  padding-top: $gutter * 2
=pad-right-double
  padding-right: $gutter * 2
=pad-bottom-double
  padding-bottom: $gutter * 2
=pad-left-double
  padding-left: $gutter * 2
=pad-top-triple
  padding-top: $gutter * 3
=pad-right-triple
  padding-right: $gutter * 3
=pad-bottom-triple
  padding-bottom: $gutter * 3
=pad-left-triple
  padding-left: $gutter * 3

// CSSTAINABLE MARGIN
=margin-top
  margin-top: $gutter
=margin-right
  margin-right: $gutter
=margin-bottom
  margin-bottom: $gutter
=margin-left
  margin-left: $gutter
=margin-top-double
  margin-top: $gutter * 2
=margin-right-double
  margin-right: $gutter * 2
=margin-bottom-double
  margin-bottom: $gutter * 2
=margin-left-double
  margin-left: $gutter * 2
=margin-top-triple
  margin-top: $gutter * 3
=margin-right-triple
  margin-right: $gutter * 3
=margin-bottom-triple
  margin-bottom: $gutter * 3
=margin-left-triple
  margin-left: $gutter * 3

// CSSTAINABLE GRID CONTAINER
=csstainable-container
  max-width: $csstainable-max-site-width
  margin: 0 auto

// CSSTAINABLE GRID ROW
=csstainable-row
  width: 100%

// CSSTAINABLE GRID COLUMNS
=csstainable-col($col-width, $col-count)
  width: percentage($col-width / $col-count)
  min-height: 1px
  float: left
  position: relative

// CSSTAINABLE GRID COLUMNS STANDARD
=one-whole
  +csstainable-col(1, 1)
=one-half
  +csstainable-col(1, 2)

// CSSTAINABLE GRID COLUMNS