//
// CSSTAINABLE SETTINGS
//
$csstainable-max-site-width:   960px
$gutter:                       10px

// CSSTAINABLE UTILITIES
=cg-clear
  clear: both
  &:after
    content: " "
    display: block
    height: 0
    font-size: 0
    clear: both
    visibility: hidden

// CSSTAINABLE PADDING
=cg-pad-top
  padding-top: $gutter
=cg-pad-right
  padding-right: $gutter
=cg-pad-bottom
  padding-bottom: $gutter
=cg-pad-left
  padding-left: $gutter
=cg-pad-top-double
  padding-top: $gutter * 2
=cg-pad-right-double
  padding-right: $gutter * 2
=cg-pad-bottom-double
  padding-bottom: $gutter * 2
=cg-pad-left-double
  padding-left: $gutter * 2
=cg-pad-top-triple
  padding-top: $gutter * 3
=cg-pad-right-triple
  padding-right: $gutter * 3
=cg-pad-bottom-triple
  padding-bottom: $gutter * 3
=cg-pad-left-triple
  padding-left: $gutter * 3

// CSSTAINABLE MARGIN
=cg-margin-top
  margin-top: $gutter
=cg-margin-right
  margin-right: $gutter
=cg-margin-bottom
  margin-bottom: $gutter
=cg-margin-left
  margin-left: $gutter
=cg-margin-top-double
  margin-top: $gutter * 2
=cg-margin-right-double
  margin-right: $gutter * 2
=cg-margin-bottom-double
  margin-bottom: $gutter * 2
=cg-margin-left-double
  margin-left: $gutter * 2
=cg-margin-top-triple
  margin-top: $gutter * 3
=cg-margin-right-triple
  margin-right: $gutter * 3
=cg-margin-bottom-triple
  margin-bottom: $gutter * 3
=cg-margin-left-triple
  margin-left: $gutter * 3

// CSSTAINABLE GRID CONTAINER
=cg-container
  max-width: $csstainable-max-site-width
  margin: 0 auto

// CSSTAINABLE GRID ROW
=cg-row
  width: 100%

// CSSTAINABLE GRID COLUMNS
=cg-col($col-width, $col-count)
  width: percentage($col-width / $col-count)
  min-height: 1px
  float: left
  position: relative

// CSSTAINABLE GRID COLUMNS STANDARD
=cg-one-whole
  +cg-col(1, 1)
=cg-one-half
  +cg-col(1, 2)

// CSSTAINABLE GRID COLUMNS